{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block body %}
<section class="signup-form">
    <form action="/sign-up" method="post">
            <input type="text" name="username" placeholder="Your Username">
            <input type="email" name="email" placeholder="Your Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password-confirm" placeholder="Confirm your Password">
        <button type="submit">Log In</button>
    </form>
</section>
{% endblock %}